# --- Backend (Python) ---
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env  

# --- Frontend (Node.js) ---
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Sistema e Editor ---
.vscode/
.DS_Store